.Overlay {
    position: absolute;
    z-index: 10;
    display: none;

    list-style: none;

    min-width: 150px;
    margin: 0;
    padding: 0;
    
    background: white;
    border: 1px solid #b7c6ce;

    max-height: 155px;
    overflow: hidden;
    overflow-y: scroll;
}
.Overlay:focus, .Overlayactive {
    outline: none;
    border: 1px solid #8e9aa0;
}

.Overlay.active {
    display: block;
}

.Overlay li:not(:last-child) {
    border-bottom: 1px solid #b7c6ce;
}
.Overlay li {
    display: flex;
}


.Overlay li button {
    background: none;
    border: none;
    padding: .3rem .5rem;
    margin: 0;
    font-size: .8rem;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
}

.Overlay li button:hover, .Overlay li button:focus, .Overlay li.active button {
    background: #d8e9f3;
}